<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">한 눈에 보는 GCE가 걸어온 길, 앞으로 만들어나갈 화려한 여정에 저희와 함께해요!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/history-1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">GitHub Campus Experts Program Launch</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The program has grown from a small group of handpicked students in 2016 to what it is now a group that spans across the globe, leading in-person and online meetups, conferences, hackathons, and more.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-responsive" src="img/badge/badge-1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018</h4>
                                    <h4 class="subheading">2 years from GitHub Campus Experts Program Launch!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It’s been two years since the first cohort of student leaders became GitHub Campus Experts. In that time, more than 100 Campus Experts in 20 countries have made their campuses a better place to learn about technology. As GitHub Interns, they have built tech communities in Africa, organized inclusive conferences, and shipped amazing projects.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/history-2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">2 years from GitHub Campus Experts Program Launch!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a href="https://github.blog/2019-09-12-best-practices-to-help-your-survive-the-internship-process/">Read the blog! </a>- In the spring 2019, we talked to four GitHub Campus Experts, John, Marleni, Sourabh and Yosuf, about their experiences as interns. Along with how to have a great internship, they offered their advice on how to help you find, apply, and interview for internships. Here’s what you need to know to have a great summer internship.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/history-3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2021</h4>
                                    <h4 class="subheading">Fresh Renewal on GitHub Campus Experts Program</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">GitHub Education team receive tens of thousands of applications to the program. In 2020, the number of applications considerably increased, and it became clear to us that we needed a better way to understand our applicants and their needs. That said, starting in February, we’ll be launching a brand new application process for the program.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gce-korea-map.PNG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2021</h4>
                                    <h4 class="subheading">FIRST EVER GitHub Campus Experts from Korea! 🇰🇷 </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Over tens of thousands of application to the program on February 2021, two students(YouJin, Mukhtar) were first selected as GitHub Campus Experts from Korea!🎉 We are proud to be representing Korean GitHub Campus Experts and we put our diverse leadership, communicational, technical skills on air in various platforms!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gce-korea-bg.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2021</h4>
                                    <h4 class="subheading">Recruiting new Korean GitHub Campus Experts</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We welcome you to join our journey as proud GitHub Campus Experts! <a href="https://apply.githubcampus.expert">APPLY NOW!</a>✨</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>GCE Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
