<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Introduction</h2>
                    <h3 class="section-subheading text-muted">GitHub Campus Experts possess three main passions on Technology, Communities and Leadeship</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technology</h4>
                    <p class="text-muted">We are deeply passionate about technology. We work closely with our peers to close the gap between industry and academia, creating new opportunities for students to learn industry-valued skills.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community</h4>
                    <p class="text-muted">We build technical communities around the world. As local leaders, We Campus Experts know the challenges students face at college. We bring positive impact not only in our respective campuses but also in various student communities.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Leadership</h4>
                    <p class="text-muted">We provide students with valuable resources and training to ensure that they have everything they need to face these challenges head on, achieve their goals, and better serve our student communities as leaders.</p>
                </div>
            </div>
        </div>
    </section>
