<!DOCTYPE html>
<link rel="favicon" href="./favicon.ico">
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% for lang in site.languages %}
      {% if lang == site.default_lang %}
        {{ lang }}
      {% else %}
        {{ lang }}
      {% endif %}
    {% endfor %}

    {% include header.html %}
    {% include introduction.html %}
    {% include posts_grid.html %}
    {% include about.html %}
    {% include team.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
